.leftcont{
    text-align: center;
    float: left;
    width: 35%;
    background-color: #192851;
    overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis; 
  padding-bottom: 40px;
}

.rightcont{
    float: right;    
    width: 65%;
    
}